body {
    background-color: #FCF8F5;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
}

.c {
    text-align: center;
  }
  table.c,
  div.c,
  p.c {
    text-align: center;
    margin: 0px auto;
    /* background-color: #ffcccc;*/
  }

  h2 {
    font-size: 50px;
  }

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

go {
    font-family: 'Sawarabi Gothic', sans-serif;
}

niko {
    font-family: "Nico Moji";
    font-size: 30px;
}

* {
    box-sizing: border-box;
  }
  .strips {
    min-height: 60vh;
    text-align: center;
    overflow: hidden;
    color: white;
  }
  .strips__strip {
    will-change: width, left, z-index, height;
    position: absolute;
    width: 33%;
    min-height: 50vh;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  }
  .strips__strip:nth-child(1) {
    left: 0;
  }
  .strips__strip:nth-child(2) {
    left: 33vw;
  }
  .strips__strip:nth-child(3) {
    left: 66vw;
  }
  .strips__strip:nth-child(1) .strip__content {
    background: #FFA1AC;
    transform: translate3d(-100%,0,0);
    animation-name: strip1;
    animation-delay: 0.1s;
  }
  .strips__strip:nth-child(2) .strip__content {
    background: #346D8C;
    transform: translate3d(0,100%,0);
    animation-name: strip2;
    animation-delay: 0.2s;
  }
  .strips__strip:nth-child(3) .strip__content {
    background:  #439D75;
    transform: translate3d(0,-100%,0);
    animation-name: strip3;
    animation-delay: 0.3s;
  }

  @media screen and (max-width: 760px) {
    .strips__strip {
      min-height: 20vh;
    }
    .strips__strip:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
    }
    .strips__strip:nth-child(2) {
      top: 33vh;
      left: 0;
      width: 100%;
    }
    .strips__strip:nth-child(3) {
      top: 66vh;
      left: 0;
      width: 100%;
    }
  }
  .strips .strip__content {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.23,1,0.32,1);
    animation-fill-mode: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .strips .strip__content:hover:before {
    transform: skew(-30deg) scale(3) translate(0,0);
    opacity: 0.1;
  }
  .strips .strip__content:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05;
    transform-origin: center center;
    transform: skew(-30deg) scaleY(1) translate(0,0);
    transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  }
  .strips .strip__inner-text {
    will-change: transform, opacity;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%,-50%) scale(0.5);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  }
  .strips__strip--expanded {
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    z-index: 3;
    cursor: default;
  }
  @media screen and (max-width: 760px) {
    .strips__strip--expanded {
      min-height: 100vh;
    }
  }
  .strips__strip--expanded .strip__content:hover:before {
    transform: skew(-30deg) scale(1) translate(0,0);
    opacity: 0.05;
  }
  .strips__strip--expanded .strip__title {
    opacity: 0;
  }
  .strips__strip--expanded .strip__inner-text {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }
  .strip__title {
    display: block;
    margin: 0;
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 3.5vw;
    color: white;
    transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  }
  @media screen and (max-width: 760px) {
    .strip__title {
      font-size: 28px;
    }
  }
  .strip__close {
    position: absolute;
    right: 3vw;
    top: 3vw;
    opacity: 0;
    z-index: 10;
    transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
    cursor: pointer;
    transition-delay: 0.5s;
  }
  .strip__close--show {
    opacity: 1;
  }
  @keyframes strip1 {
    0% {
      transform: translate3d(-100%,0,0);
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }
  @keyframes strip2 {
    0% {
      transform: translate3d(0,100%,0);
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }
  @keyframes strip3 {
    0% {
      transform: translate3d(0,-100%,0);
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }
  @keyframes strip4 {
    0% {
      transform: translate3d(0,100%,0);
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }
  @keyframes strip5 {
    0% {
      transform: translate3d(100%,0,0);
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }


/* ヘッダー */
.navigation{
    /* flexboxで要素を真ん中に指定 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
  }
  .navigation ul {
    width: 100%;
  }
  .button{
    display: block;
    padding:10px;
    background:white;
    width:33%;
    float:left;
    /* カーソルを離した際のアニメーションの速度調整 */
    transition:.2s all;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) inset;
  }
  .button p {
    height: 10px;
    font-weight: 300;
  }
  .button a {
    color:#333333;
    /* リンク指定した要素のスタイルを削除 */
    text-decoration:none;
  }
  .navigation:hover .button{
    /* ナビゲーションをマウスオーバーした際のアニメーションの動きを指定 */
    opacity:.5;
    /* 全てのボタンが少し小さくなる */
    transform: scale(1);
  }
  .navigation:hover .button:hover{
    transition: .5s;
    /* hover時の速度調整 */
    transform:scale(.8);
    /* hoverしたボタンのみサイズを拡大する指定 */
    opacity:1;
    /* hoverするとボタンが凹むように影を指定 */
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.6) inset;
  }
  .navigation:hover .button:hover > p {
    font-weight: bold;
  }
  